* {
    margin: 0;
    padding: 0;
}

.form_container {
    width: 50%;
    margin: 8px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
}

.error_msg {
    color: #ff0000;
    font-size: 15px;
}